[submodule "ext/kokkos-kernels"]
	path = ext/kokkos-kernels
	url = git@github.com:kokkos/kokkos-kernels.git
[submodule "ext/OpenBLAS"]
	path = ext/OpenBLAS
	url = git@github.com:xianyi/OpenBLAS.git
[submodule "ext/kokkos"]
	path = ext/kokkos
	url = git@github.com:kokkos/kokkos.git
